# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.12.0
python-multipart==0.0.5
fastapi==0.86.0
pandas==1.5.1
numpy==1.23.4
pydantic==1.10.2
joblib==1.2.0
scikit-learn==1.1.3